<div class="container">
  <div class="d-flex justify-content-center">
    <div class="col-md-6">
      <%= form_with model:@painting do |f| %>
        <div>
          <%= flash[:notice] %>
        </div>
        
        <%= render "public/shared/error_messages", resource: @painting %>
        <%= image_tag @painting.get_image(200,200) %>
        
        <div class="form-group">
          <%= f.label :タイトル %>
          <%= f.text_field :title, class: "form-control", autofocus: true, placeholder: "アース" %>
        </div>

        <div class="form-group">
          <%= f.label :説明 %>
          <%= f.text_field :caption, class: "form-control", autofocus: true, placeholder: "渾身の作品です", rows: 5 %>
        </div>

        <div class="form-group">
          <%= f.label :公開設定 %><br>
          <%= f.collection_radio_buttons :is_opened, [[true, '公開'], [false, '非公開']], :first, :last %>
        </div>

        <div class="d-flex justify-content-center">
          <%= f.submit "投稿", class: "actions v21_663" %>
        </div>
      <% end %>


    </div>
  </div>
</div>