<div class="container">
  <div class="d-flex justify-content-center">
    <div class="col-md-8 offset-md-1">
      <h2><%= @painting.title %></h2>
      <div>
        <%= flash[:notice] %>
      </div>

        <div class="image-container">
            <%= image_tag @painting.get_image2 %>
        </div>
        <% if @painting.caption.present? %>
        <h4>説明<br>
          <%= @painting.caption %></h4>
        <% end %>
        <div class="row">
          <div class="col form-group">
            <%= link_to user_path(@painting.user) do %>
              <%= image_tag @painting.user.get_icon_image(100,100),style: "border-radius: 50%; border: 4px solid #6D9295; box-shadow: 0 0 6px grey; overflow: hidden;" %><br>
              <%= @painting.user.name %>
            <% end %>
          </div>

          <div id = "favorite_<%= @painting.id %>" class = "col" style="font-size: 40px;">
            <%= render partial: "public/favorites/favorite", locals: { painting: @painting }, remote: true %>
          </div>
        </div>
        <% if @painting.user == current_user %>
          <div class="form-group">
            <%= link_to '投稿を編集する', edit_painting_path(@painting), class:"btn edit-button" %>
            <%= link_to '投稿を削除する', @painting, method: :delete, data: { confirm: '本当に消しますか？' }, class: "centered-text btn btn-sm btn-danger delete-btn" %>

          </div>
        <% end %>

        <div class="form-group">
          コメント件数：<span id="comment_count"><%= @painting.painting_comments.count %></span>
        </div>

      <div id="painting-comments">
        <%= render "public/painting_comments/show" , { painting: @painting , painting_comment: @painting_comment } %><br>
      </div>
      <div id="comment-form">
        <%= render "public/painting_comments/form" , { painting: @painting , painting_comment: @painting_comment } %>
      </div>
    </div>
  </div>
</div>